
:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}



h1 {

    text-align: left;
}

body {
}

div {
    gap: 10px;
    
}

.left-vert-align {
    display: flex;
    justify-content: flex-start ;
    flex-direction: column;
    align-items: flex-start;
}

table {
    border: 1px black solid;
    border-collapse: collapse;
    margin: 10px;
}
