:root {
    color-scheme: light dark;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    

    --bg-primary: #f5f5f5;
    --bg-secondary: #d3d3d3;
    --text-primary: #121212;
    --elm-highlight-color: rgb(from var(--text-primary) r g b / 0.1);
    --button-highlight-color: rgb(from var(--text-primary) r g b / 0.4);
    --accent-color: #60a5fa;
    --header-margin: 10px;
    --chat-font-size: 14px;
    
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

*:focus-visible {
    outline: 1.5px solid #fafbfb42;
}
*:focus:not(:focus-visible) {
  outline: none;
}


button, input {
    
    background-color: var(--elm-highlight-color);
    border-radius: 10px;
    border-style: none;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    corner-shape: superellipse(1);
}

button {
    overflow: hidden; 
    white-space: nowrap;
    min-width: 0;
    text-overflow: ellipsis;
    font-family: inherit;
    color: currentColor;
    cursor: pointer;
    transition: filter 0.2s, box-shadow 0.2s, background-color 0.2s, transform 0.1s, text-shadow 0.2s;
    -webkit-tap-highlight-color: transparent; /* Removes the flicker on iPad/Mobile */
    border: 2px solid #00000018;

}
button:hover {
  transform: translateY(-1.3px);
  filter: brightness(120%);

}
button:active{
  transform: translateY(1px);
  box-shadow: none;
  /* text-shadow: 0rem 0rem 2rem #ffffffd8, 0rem 0rem 4rem #ffffffd8; */

}



*, *::before, *::after {
    box-sizing: border-box;
}

.red-button {
    background-color: #FF000055;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden; 
}

h1, h2, h3 {
    text-align: left;
    margin-left: var(--header-margin);
}

.left-vert-align {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    margin-left: var(--header-margin);
    gap: 10px;
}

.app-view {
    position: absolute;
    inset: 0;
    display: flex;
    gap: 0px;
    /* border: 2px solid blue; */
}

.sidebar-view {
    z-index: 2;
    flex: 0 0 auto;
    display: flex;
    resize: horizontal;
    overflow: auto;
    flex-direction: column;
    background-color: var(--bg-secondary);
    /* width: 20%; */
    max-width: 500px;
    min-width: 175px;
}


.list-button-container {
    overflow: visible;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mini-channel-button, .mini-group-button {
    flex: 0 0 0;
    width: 0px;
    min-width: 0;
    height: 25px;
    aspect-ratio: 1;
    padding: 0;
    border-width: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    transition: width 0.2s, flex-basis 0.2s, opacity 0.2s, border-width 0.2s;
}
.list-button-container:hover .mini-channel-button,
.list-button-container:hover .mini-group-button,
.list-button-container:focus-within .mini-channel-button,
.list-button-container:focus-within .mini-group-button {
    flex-basis: 25px;
    width: 25px;
    opacity: 1;
    border-width: inherit;
    pointer-events: auto;
    margin-left: 4px;
}
.new-group-button {
    anchor-name: --new-group-button;
}
.group-list {
    margin: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px;
    overflow: visible;
}

.group-button, .mini-group-button {
    /* overflow: visible; */
    anchor-name: --group-button;
}
.group-button {
    flex: 1;
    text-align: left;
}
.group-button.is-selected {
    box-shadow: inset 0px 2px 50px rgba(128, 128, 128, 0.5);
}

.popover {
    display: flex;
    padding: 10px;
    margin-left: 10px;
    z-index: 10;
    position: absolute;

    background-color: var(--bg-secondary);
    border: 1px solid rgba(255, 255, 255, 0.109);
    border-radius: 50px;
    box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.5);
}

.channel-list {
    margin-left: 20px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px;
    overflow-y: scroll;
}
.channel-button, .mini-channel-button {
    anchor-name: --group-button;
    height: 25px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}
.channel-button {
    flex: 1;
    text-align: left;
}

.channel-button.is-selected {
    box-shadow: inset 0px 2px 50px rgba(128, 128, 128, 0.5);

}



.sidebar-footer {
    display: flex;
    align-items: center;
    height: 50px;
    gap: 10px;
    margin: 10px;
    margin-left: 0px;
    margin-bottom: 0px;
}

.sidebar-footer-pfp {
    margin-left: 10px;
}



/* popup */
dialog {
    z-index: 10;
}
.obscure {
    position: fixed;
    inset: 0;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.46);
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

/* --- CHAT VIEW & MESSAGE VIEW UPDATES --- */

.chat-view {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.message-view {
    display: flex;
    flex-direction: column-reverse;
    flex: 1; 
    overflow-y: auto; 
    flex-wrap: none;
}

.chat-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.message-input-div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px;
    height: 30px;
    flex-direction: row;
    flex-wrap: nowrap;
}

.type-box {
    font-size: var(--chat-font-size);
    flex: 1;
}

.send-button {
    flex: 0 0 auto;
    background-color: var(--accent-color);
    color: black;
}


.chat-element-div {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row;
} 
.chat-element-div:hover {
    background-color: var(--elm-highlight-color);
}


.chat-timestamp {
    font-size: 10px;
    color: gray;
    margin-left: 10px;
}
.chat-message {
    font-size: var(--chat-font-size);
}

.chat-username {
    color: rgb(0, 132, 255);
}
.chat-username:hover {
    cursor: pointer;
    text-decoration: underline;
}



.chat-profile-pic {
    width: 30px;
    height: 30px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
}
.chat-profile-pic:hover {
    cursor: pointer;
}

table {
    border: 1px black solid;
    border-collapse: collapse;
    margin: 10px;
}


.hidden {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Overwrite variables with Dark Mode Colors */
    --bg-primary: #121212;
    --bg-secondary: #222222;
    --text-primary: #f5f5f5;
    --accent-color: #60a5fa;
  }
}